/* modal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-container {
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.modal-container h2 {
    font-size: 24px;
    color: #5c4a3a;
}

.modal-input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #5c4a3a;
    background: transparent;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    width: 100%;
}

.modal-btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-cancel,
.modal-confirm {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.modal-cancel {
    background-color: transparent;
    border: 2px solid #5c4a3a;
    color: #5c4a3a;
}

.modal-cancel:hover {
    background-color: rgb(224, 206, 183);
}

.modal-confirm {
    background-color: #5c4a3a;
    color: #f5f0e8;
}

.modal-confirm:hover {
    background-color: #4a3b2e;
}

/* todo */
.modal-select {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #5c4a3a;
    background: transparent;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    width: 100%;
    cursor: pointer;
    color: #5c4a3a;
}

.modal-select option {
    background-color: antiquewhite;
    color: #5c4a3a;
}